<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" href="">
    <script th:src="@{/static/js/jquery-3.5.1.min.js}" src=""></script>
    <script th:src="@{/static/js/bootstrap.min.js}" src=""></script>
</head>
<body>
<!--Hand-->
<div th:include="~{bar :: topbar}"></div>
<!--Body-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <span class="text-center row"><p class="h1">Welcome Back</p></span>
                <span class="text-center  row"><s><p class="text-danger" th:text="${hi}"></s></p></span>
            </div>
        </div>
    </div>

    <!-- 4:3 aspect ratio -->
<!--    <div class="embed-responsive embed-responsive-4by3 ">-->
<!--        <iframe class="embed-responsive-item"-->
<!--                src="http://a1b2c3d4.6699a.xyz:16982/forum.php?mod=forumdisplay&fid=2"></iframe>-->
<!--    </div>-->
</div>
</body>
</html>